nav {
    background-color: #131A22;
}

body {
    background-color: whitesmoke;
}

/* FOOTER*/

/*boton amarillo */
.btn-amazon-yellow {
    background-color: #FFD700;
    border: none;
    color: #000;
}
.btn-amazon-yellow:hover {
    background-color: #e38800; 
}

/* Fondo de "Inicio de Pagina" */
.bg-footer-top {
    background-color: #37475A;
}

.bg-footer-top:hover {
    background-color: #485769;
     /*cambia el color de fondo al boton de inicio de pagina */
}

/* Fondo de la parte enlaces */
.bg-footer-main {
    background-color: #232F3E;
}

/* Fondo de la parte final*/
.bg-footer-bottom {
    background-color: #131A22;
}

/*enlaces pequeños*/
.footer-link-mini {
    font-size: 0.7rem;
    line-height: 1.2;
}

/*Navmin*/
.navbarmin {
      background-color: #232F3E;
    }
.navbarmin ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#menu-toggle {
      display: none;
    }

.menu-icon {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      padding: 5px 0px;
    }

.menu-icon span {
      display: block;
      width: 15px;
      height: 2px;
      background: #ecf0f1;
      margin: 1.3px 0;
      border-radius: 2px;
      transition: all 0.3s ease;
    }

.nav-menumin {
      display: flex;
      list-style: none;
      gap: 0.5rem;
    }

    .nav-menumin li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px; 
    color: #ecf0f1;
    padding: 12px 22px;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;

    }

    .nav-menumin li a:hover {
      background: #314359;
    }
.search-wrapper {
    width: 100%;
}


  .cards-overlap {
    margin-top: -60px;
}

/*Responsive nav e image, logo de amazon :O*/

/*MOVIL*/
  @media (max-width: 767px) {
   .navbarmin {
      display: none;
    }
    .cards-overlap {
      margin-top: -90px;
    }

        .barra{
        margin-top: 100px;
    }

    #AmazonLogo{
        height: 20px;
    }
  }

  /*TABLET*/
@media (min-width: 767px) and (max-width: 873px) {
    .nav-menumin li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px; 
    color: #ecf0f1;
    padding: 12px 22px;
    font-weight: 500;
    font-size: .8rem;
    text-decoration: none;

    }

}
    /*Desktop*/
@media (min-width: 992px) {

    .cards-overlap {
      margin-top: -120px;
    }
    .search-wrapper {
        width: auto !important; 
    }
  }